# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/
*.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VSCode / IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# migrations (optional, if you want to exclude them initially)
**/migrations/*.py
!**/migrations/__init__.py
